{% extends 'anime/header.html'%}

{% block css %}
<style>
  .col-md-3 {
    display: inline-block;
    margin-left: -4px;
  }

  .carousel-indicators .active {
    background-color: blue;
  }

  .col-md-3 img {
    width: 227px;
    max-height: 242px;
  }

  .card{
    text-align: center;
    align-items: center;
  }
  
  .card img{
    margin-top: 2px;
  }

  .carousel-indicator li {
    background-color: blue;
  }

  .carousel-indicators {
    bottom: 0;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: blue;
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: auto;
    bottom: auto;
  }

  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
</style>
{% endblock %}

{% block body %}

<div class="ms-3">
{% for product, range, nSlides in allProds %}

<h3 class="my-3">{{product.0.category}}</h3>

<div id="carouselExample{{forloop.counter}}" class="carousel slide">

  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="row">

        {% for i in product %}
        <div class="col-md-3">
          <div class="card">
            <img src="/media/{{i.image}}" class="card-img-top">
            <div class="card-body">
              <h5>{{i.product_name}}</h5>
              <p>{{i.description}}</p>
              <button class="btn btn-success">View</button>
            </div>
          </div>
        </div>

        {% if forloop.counter|divisibleby:4 and not forloop.last %}
      </div>
    </div>

    <div class="carousel-item">
      <div class="row">
        {% endif %}

        {% endfor %}

      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample{{forloop.parentloop.counter}}"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample{{forloop.parentloop.counter}}"
    data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

</div>

{% endfor %}
{% endblock %}


</div>